body {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(198, 200, 240);
}

section {
    width: 300px;
    height:500px;
    display: grid;
    justify-content: center;
    padding:20px;
    background-color: rgba(193, 195, 184, 0.871);
    box-shadow: 3px 4px 3px rgb(165, 125, 163);
}

a {
    text-decoration: none;
}

.form-group {
    margin-top: 12px;
    position: relative;
}

.form-group i {
    position: absolute;
    top: 46px;
    right: 6%;
    cursor: pointer;
}

.form-group input {
    width: 250px;
    margin-top: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    border: none;
}

.form-group label {
    font-weight: 200px;
}

.form-group span {
    color: rgba(183, 36, 36, 0.887)
}

.form-group button {
    width: 290px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: rgb(136, 137, 232);
}

.form-group button a {
    text-decoration: none;
    color: black;
}

.form-group .bgclr {
    background-color: rgb(114, 114, 174);
}

.option {
    text-align: center;
}