*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 80px;
}

section {
    
    height: 620px;
    display: grid;
    justify-content: center;
    padding: 10px 80px ;
    box-shadow: 4px 4px 7px rgb(152, 149, 149);
    border-radius: 5px;
}

.form-group {
    /* margin-top: 30px; */
    height: 45px;
    position: relative;
}

.form-group span {
   color: rgba(183, 36, 36, 0.887);
}

.form-group input {
    width: 100%;    
    margin-top: 20px;
    border-radius: 5px;
    padding: 8px 12px;
    border: none;
}

.form-group label {
    font-weight: 150px;
    font-size: 19px;
}

.form-group button {
    width: 290px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(80, 146, 66, 0.905);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 150px;
}
h4{
    margin-left: 30px;  
}